<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Flagbit_OpenId>
            <version>1.6.0.0</version>
        </Flagbit_OpenId>
    </modules>
    <!-- 
    <global>
        <blocks>
            <flagbit_googleauthenticator>
                <class>Flagbit_Googleauthenticator_Block</class>
            </flagbit_googleauthenticator>
        </blocks>
        <helpers>
            <flagbit_googleauthenticator>
                <class>Flagbit_Googleauthenticator_Helper</class>
            </flagbit_googleauthenticator>
        </helpers>
        <models>
            <flagbit_googleauthenticator>
                <class>Flagbit_Googleauthenticator_Model</class>
            </flagbit_googleauthenticator>
            <admin>
                <rewrite>
                    <session>Flagbit_Googleauthenticator_Model_Session
                    </session>
                </rewrite>
            </admin>
        </models>
        <resources>
            <googleauthenticator_setup>
                <setup>
                    <module>Flagbit_Googleauthenticator</module>
                </setup>
            </googleauthenticator_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Flagbit_Googleauthenticator
                            before="Mage_Adminhtml">Flagbit_Googleauthenticator_Adminhtml
                        </Flagbit_Googleauthenticator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <flagbit_googleauthenticator>
                        <class>flagbit_googleauthenticator/observer
                        </class>
                        <method>addUserAuthTab</method>
                    </flagbit_googleauthenticator>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <translate>
            <modules>
                <FireGento_DynamicCategory>
                    <files>
                        <default>FireGento_DynamicCategory.csv</default>
                    </files>
                </FireGento_DynamicCategory>
            </modules>
        </translate>
    </adminhtml>
     -->
</config>