<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Flagbit_OpenId>
            <version>1.6.0.0</version>
        </Flagbit_OpenId>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Flagbit_OpenId before="Mage_Adminhtml">Flagbit_OpenId_Adminhtml</Flagbit_OpenId>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <flagbit_openid>
                        <class>flagbit_openid/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </flagbit_openid>
                </observers>
            </core_block_abstract_to_html_after>
        </events>

        <translate>
            <modules>
                <Flagbit_OpenId>
                    <files>
                        <default>Flagbit_OpenId.csv</default>
                    </files>
                </Flagbit_OpenId>
            </modules>
        </translate>
    </adminhtml>

    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <permissions_user_edit_tab_main>Flagbit_OpenId_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                </rewrite>
            </adminhtml>
        </blocks>

        <helpers>
            <flagbit_openid>
                <class>Flagbit_OpenId_Helper</class>
            </flagbit_openid>
        </helpers>

        <models>
            <flagbit_openid>
                <class>Flagbit_OpenId_Model</class>
                <resourceModel>flagbit_openid_resource</resourceModel>
            </flagbit_openid>
            
            <flagbit_openid_resource>
                <class>Flagbit_OpenId_Model_Resource</class>
            </flagbit_openid_resource>
            
            <admin>
                <rewrite>
                    <observer>Flagbit_OpenId_Model_Admin_Observer</observer>
                    <session>Flagbit_OpenId_Model_Admin_Session</session>
                </rewrite>
            </admin>
        </models>

        <resources>
            <flagbit_openid_setup>
                <setup>
                    <module>Flagbit_OpenId</module>
                </setup>
            </flagbit_openid_setup>
        </resources>
    </global>
</config>